<%# <h1>Which space are you looking for?</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
  <%# <--------------------------- BANNER ------------------------------------> %>
    <%= render "shared/banner" %>

  <%# <--------------------------- WOT ------------------------------------> %>
  <%= render "shared/wot" %>

  <%# # <--------------------------- CARDS ------------------------------------> %>
  <%= render "shared/cards" %>
