.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 80px;
}

.button {
  margin-top: 16px;
  background-color: #7E77CA;
  font-size: 16px;
  padding: 16px 32px;
  color:white;
  border-radius: 50px;
}
