
.booking-list li {
  list-style-type: none;
}

.booking-title{
  font-size: 32px;
}

// .ul {
//   padding: 4px;
// }

// .card-booking {
//   max-width: 300px;
// }

.card-booking-img {
  height: 300px;
  background-position: center;
  background-size: cover;
}
