.card-category {
  background-size: cover;
  background-position: center;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  gap: 10px;
  row-gap: 10px;
  column-gap: 20px;
}

a {
  color: white;
  text-decoration: none;
}
