.form_book {
  margin-left: 24px;
  margin-right: 24px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  padding: 15px;
  border-radius: 20px;
}

.button_submit {
  background-color: #7E77CA;
  font-size: 16px;
  padding: 8px 24px;
  color: white;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: none;
}
